body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 100%;
    /* background-color: red; */
    padding: 10px;

}

th,td {
    padding: 10px;
    /* background: #b8b5b5; */
    border: 1px solid black;
}